<div class="row">
  <div class="small-7 columns">
    <h2><em>About the A &amp; M Creamery</em></h2>
    <%= image_tag 'ice-cream-scoops.jpg', class: 'img-2' %>
<div class="card">
    <div class="card-content">
        <p>The A&M Creamery, founded by Alex and Mark Heimann, currently consists of seven stores selling amazing ice cream in the Greater Pittsburgh area. From poor farm boys to huge business tycoons, some could say this ice cream franchise is a tale of a journey from rags to riches. Others say that there's no evidence for this tale.
        </p>
    </div>
</div>
  </div>
</div>