<div class="row">    
  <div class="col s9">
  <%= image_tag 'cones.jpg', class: 'img' %>

    <div class="card">
      <div class="card-content">
        <span class="card-title"><em>The Creamery Privacy Policy</em></span>
        <p>Our privacy policy is simple and easy to understand. We won't share anything you don't want shared and you won't share anything we don't want shared. Quid pro quo, a favor for a favor, tit for tat. If you share private information about the company, you better watch out.

        </p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>