<div class="card">
  <div class="card-content">
    <p>
      <h4>
        <%= @pay_grade.level %> Pay Grade Level
      </h4>
    </p>

    <p>
      <b>Level:</b><br>
      <%= @pay_grade.level %><br />
    </p><br />

    <p>
      <b>Active:</b> 
      <%= @pay_grade.active ? "Yes" : "No" %>
    </p><br />
  </div>
</div>